
<%=tabs(:tab1=>:treners.l("Тренеры"))%>

<div>

  <%for item in @statuses%>
    <p>
    <%=link_to item.name, lang_status_path(lang_id(@lang),item.ident_name), :class => "link_title"%> (<%=MemberStatus.count(:conditions=>{:status_id,item.id})%>)
    </p>
  <%end%>


</div>




  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', lang_statuses_path(lang_id(@lang)) %>
  <%end%>
