/* CSS Document */
#menu ul{padding-left:8px;}
#menu a{color:RGB(225, 225, 225); font-size:12pt; font-weight:600; text-decoration:none; padding-left: 7px; padding-right:7px; }
#footer_menu a{color:RGB(225, 225, 225); font-size:11pt; text-decoration:none; font-weight:600; padding-left: 5px; padding-right:5px}
#footer_menu {margin-left: 40px;}